<div class="breadcrumb-wrapper">
  <div class="breadcrumb-card">
    <div class="breadcrumb-content">
      <div class="icon-box">
        <i class="pi pi-compass text-primary-500 text-xl"></i>
      </div>
      <p-breadcrumb [model]="items" [home]="home" styleClass="premium-breadcrumb"></p-breadcrumb>
    </div>
    
    <div class="actions">
      <button 
        pButton 
        class="refresh-btn p-button-rounded p-button-text" 
        (click)="onRefresh()" 
        pTooltip="تحديث البيانات" 
        tooltipPosition="bottom">
        <i class="pi pi-refresh" ></i>
      </button>
    </div>
  </div>
</div>

