:host {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

::ng-deep {
  .p-breadcrumb {
    background: transparent;
    border: none;
    padding: 0.5rem 0;
  }

  .p-breadcrumb .p-breadcrumb-list {
    direction: rtl;
  }

  .p-breadcrumb .p-breadcrumb-list li {
    margin: 0 0.5rem;
  }

  .p-breadcrumb .p-breadcrumb-list li:first-child {
    margin-right: 0;
  }

  .p-breadcrumb .p-breadcrumb-list li:last-child {
    margin-left: 0;
  }

  .p-breadcrumb .p-breadcrumb-list li .p-breadcrumb-link {
    color: var(--gray-600);
    text-decoration: none;
    transition: color 0.2s;
  }

  .p-breadcrumb .p-breadcrumb-list li .p-breadcrumb-link:hover {
    color: var(--primary-color);
  }

  .p-breadcrumb .p-breadcrumb-list li .p-breadcrumb-link.p-disabled {
    color: var(--gray-900);
    cursor: default;
  }

  .p-breadcrumb .p-breadcrumb-list li .p-breadcrumb-separator {
    color: var(--gray-400);
    margin: 0 0.5rem;
  }
}

